<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/calc.css">
    <title>Calculadora</title>
</head>
<body>
    <div id="container">
        <!-- topo -->
        <div id="display"> display </div>
        <div class="item" id="ac"> a.c </div>
        <div class="item" id="remover"> remover </div>
        <div class="item" id="porcentagem"> % </div>

        <!-- números -->
        <div class="item" id="sete"> 7 </div>
        <div class="item" id="oito"> 8 </div>
        <div class="item" id="nove"> 9 </div>
        <div class="item" id="quatro"> 4 </div>
        <div class="item" id="cinco"> 5 </div>
        <div class="item" id="seis"> 6 </div>
        <div class="item" id="um"> 1 </div>
        <div class="item" id="dois"> 2 </div>
        <div class="item" id="tres"> 3 </div>

        <div class="item" id="ponto"> . </div>
        <div class="item" id="zero"> 0 </div>
        <div class="item" id="virgula"> , </div>

        <!-- sidebar -->
        <div class="item" id="divisao"> / </div>
        <div class="item" id="multiplicacao"> X </div>
        <div class="item" id="subtracao"> - </div>
        <div class="item" id="adicao"> + </div>
        <div class="item" id="gerarResultado"> = </div>
    </div>
</body>
</html>