* {
    margin: 0;
    padding: 0;
}

#container {
    
    display: grid;
    grid-template-areas:
    'header header'
    'aside article'
    'section section'
    'footer footer';
    gap: 30px;
}

header {
    grid-area: header;
    background-color: lightgray;
}

aside {
    grid-area: aside;
    background-color: lightblue;
}

article {
    grid-area: article;
    background-color: lightgreen;
}

section {
    grid-area: section;
    background-color: lightyellow;
}

footer {
    grid-area: footer;
    background-color: lightpink;
}